.nav {
  position: fixed;
  inset-inline: 1rem;
  bottom: 1rem;

  height: 4.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  backdrop-filter: blur(10px);

  border: 2px solid var(--color-gray-800);

  border-radius: 8px;
}

.navItem {
  position: relative;
  flex: 1;

  text-decoration: none;
  color: var(--color-gray-400);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  width: 100%;
  height: 100%;

  font-size: 12px;
  letter-spacing: 0.2px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.label {
  display: none;
  font-size: 11px;
  opacity: 0.85;
}

.indicator {
  position: absolute;
  top: 0;
  left: 20%;

  width: 60%;
  height: 2px;

  background: #fff;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .nav {
    inset-block: 1rem; /* arriba y abajo */
    inset-inline: auto 1rem; /* separada del lado derecho */

    width: 5.5rem;
    height: auto;

    flex-direction: column;

    border-radius: 8px;
  }

  .navItem {
    flex: none;
    height: 5rem;
  }

  .label {
    display: block;
  }

  .indicator {
    top: 20%;
    right: 0;
    left: auto;

    width: 3px;
    height: 60%;
  }
}
