.nav {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  height: 4.5rem;
  width: 80vw;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  padding: 0 1.25rem;

   background: var(--color-gray-800);

  border: 2px solid var(--color-gray-700);
  border-radius: 8px;
}

.navItem {
  position: relative;
  flex: none;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-gray-400);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  font-size: 14px;
  letter-spacing: 0.2px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.label {
  display: none;
  font-size: 14px;
  opacity: 0.85;
  text-align: center;
}

.indicator {
  position: absolute;
  top: 0;
  left: 20%;

  width: 60%;
  height: 2px;

  background: #fff;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .nav {
    top: 50%;
    right: 1rem;
    left: auto;
    bottom: auto;
    transform: translateY(-50%);

    width: 8vw;
    height: auto;

    flex-direction: column;

    padding: 14px 12px;
  }

  .navItem {
    height: 5rem;
  }

  .label {
    display: block;
  }

  .indicator {
    top: 20%;
    right: 0;
    left: auto;

    width: 3px;
    height: 60%;
  }
}
