.experience {
  display: flex;
  flex-direction: column;
}

.experience h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-right: auto;

  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-gray-400);
}

.experience p {
  max-width: 540px;
  line-height: 1.6;
  color: var(--color-gray-500);
}

.tags {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.tags span {
  background-color: var(--color-gray-700);
  color: var(--color-gray-300);
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.timeline {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}

.timeline hr {
  border: none;
  border-left: 2px solid var(--color-gray-700);
  width: 2px;
  margin: 0;
}

.timeline p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray-600);
}

.timelineItemContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.timelineItem {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-gray-800);
  border: 2px solid var(--color-gray-700);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.date {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-gray-400);
}
.position {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-gray-300);
}
.org {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray-500);
}
.modality {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--color-gray-500);
}
.description {
  margin-top: 8px;
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--color-gray-400);
}

@media (max-width: 767px) {
  .experience {
    margin-top: 10vh;
    margin-inline: auto;
    width: 90vw;
  }

  .experience h1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
  }
}

@media (min-width: 768px) {
  .experience {
    margin-top: 15vh;
    margin-inline: auto;
    width: 80vw;
  }

  .experience h1 {
    flex-direction: row;
  }
}
