.about {
  display: flex;
  flex-direction: column;
}

.about h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-right: auto;

  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-gray-400);
}
.about p {
  max-width: 540px;
  line-height: 1.6;
  color: var(--color-gray-500);
}

@media (max-width: 767px) {
  .about {
    margin-top: 10vh;
    margin-inline: auto;
    width: 90vw;
  }

  .about h1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
  }
}

@media (min-width: 768px) {
  .about {
    margin-top: 15vh;
    margin-inline: auto;
    width: 60vw;
  }

  .about h1 {
    flex-direction: row;
  }

  .jobStatus {
    font-size: 0.875rem;
  }
}
