* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--color-gray-900);
  color: var(--color-gray-300);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

:root {
  --color-gray-100: #f8f9fc;
  --color-gray-200: #f1f3f9;
  --color-gray-300: #dee3ed;
  --color-gray-400: #c2c9d6;
  --color-gray-500: #8f96a3;
  --color-gray-600: #5e636e;
  --color-gray-700: #2f3237;
  --color-gray-800: #1d1e20;
  --color-gray-900: #111213;

  --transition: 0.2s ease;
}

button,
a {
  transition: var(--transition);
}

a {
  cursor: pointer;
  padding: 0.4rem 0.5rem;
  border-radius: 4px;
  color: var(--color-gray-500);
}

a:hover {
  background-color: var(--color-gray-700);
  color: var(--color-gray-100);
  opacity: 1;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-700);
  color: var(--color-gray-100);
  padding: 0.4rem 0.5rem;
  border-radius: 4px;
}

button:hover {
  background-color: var(--color-gray-600);
}

.hidden {
  display: none !important;
}
