.projects {
  display: flex;
  flex-direction: column;
}

.projects h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-right: auto;

  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-gray-400);
}

.projects p {
  max-width: 540px;
  line-height: 1.6;
  color: var(--color-gray-500);
}
.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.projectCard {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-gray-800);
  border: 2px solid var(--color-gray-700);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tags {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.tags span {
  background-color: var(--color-gray-700);
  color: var(--color-gray-300);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-blue-400);
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 767px) {
  .projects {
    margin-top: 10vh;
    margin-inline: auto;
    width: 90vw;
  }

  .projects h1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
  }
}

@media (min-width: 768px) {
  .projects {
    margin-top: 15vh;
    margin-inline: auto;
    width: 60vw;
  }

  .projects h1 {
    flex-direction: row;
  }

  .jobStatus {
    font-size: 0.875rem;
  }
}
