* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  background-color: var(--color-gray-900);
  color: var(--color-gray-400);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
}

:root {
  --color-gray-100: #f8f9fc;
  --color-gray-200: #f1f3f9;
  --color-gray-300: #dee3ed;
  --color-gray-400: #c2c9d6;
  --color-gray-500: #98a0ae;
  --color-gray-600: #5e636e;
  --color-gray-650: #44474e;
  --color-gray-700: #2f3237;
  --color-gray-750: #232528;
  --color-gray-800: #1d1e20;
  --color-gray-900: #111213;
  --color-gray-1000: #0a0a0b;

  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2ff;
  --color-indigo-300: #a4b3ff;
  --color-indigo-400: #7d87ff;
  --color-indigo-500: #625fff;
  --color-indigo-600: #4f39f6;
  --color-indigo-700: #432dd7;

  --color-pink-100: #fce7f3;
  --color-pink-400: #fb64b6;
  --color-pink-500: #f6339a;
  --color-pink-600: #e30076;
  --color-pink-900: #861043;
  --color-rose-700: #c20039;

  --transition: 0.2s ease;
}

button,
a {
  transition: var(--transition);
}

a.link {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 0.4rem 0.5rem;
  border-radius: 4px;
  text-decoration: none;
  color: var(--color-gray-500);
}

a.link:hover {
  background-color: var(--color-gray-700);
  color: var(--color-gray-100);
  opacity: 1;
}

button.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-gray-700);
  color: var(--color-gray-100);
  padding: 0.4rem 0.5rem;
  border-radius: 4px;
  border: 2px solid var(--color-gray-650);
}

button.button:hover {
  background-color: var(--color-gray-750);
  border: 2px solid var(--color-gray-700);
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 2rem;
  margin-right: auto;
}

@media (min-width: 768px) {
  .content {
    padding-right: 80px;
    padding-bottom: 16px;
  }

  .optionContainer {
    flex-direction: row;
    align-items: center;
  }
}

.hidden {
  display: none !important;
}
