.hero {
  display: flex;
  gap: 2rems;
}

.hero h1 {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.75rem;
  margin-right: auto;

  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-gray-400);
}

.hero p {
  max-width: 540px;
  line-height: 1.6;
  color: var(--color-gray-500);
}

.socialLinks {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.jobStatus {
  width: fit-content;
  padding: 0.35rem 0.6rem;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  color: #3d763d;
  background: rgba(84, 255, 46, 0.9);
  box-shadow: 0 0 20px rgba(84, 255, 46, 0.8);
}
.heroImage {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: right;
  align-items: center;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    margin-top: 10vh;
    margin-inline: auto;
    width: 90vw;
  }

  .hero h1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
  }
  .heroImage {
    max-width: 100%;
    margin-top: 1.5rem;
  }
}

@media (min-width: 768px) {
  .hero {
    margin-top: 15vh;
    margin-inline: auto;
    width: 80vw;
    gap: 1rem;
  }

  .hero h1 {
    flex-direction: row;
  }

  .jobStatus {
    font-size: 0.875rem;
  }
  .heroImage {
    max-width: 400px;
    margin-top: 0;
  }
}
