.heroContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  width: 100%;
  background: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);

  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.heroText,
.heroImage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem;
}

.heroText h1 {
  text-align: right;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.heroText p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.socialLinks {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.socialLinks button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.hero img {
  max-width: 250px;
  width: 100%;
  height: auto;
  margin-left: auto;
  border-radius: 8px;
}

.cvButton {
  background: var(--color-indigo-600);
}
.cvButton:hover {
  background: var(--color-indigo-700);
}

.githubButton {
  background: var(--color-gray-900);
}

.githubButton:hover {
  background: var(--color-gray-1000);
}

.aboutContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 960px;
  width: 100%;
  padding: 2rem;
  gap: 1.5rem;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  padding: 2rem;
  gap: 1.5rem;
}

.skillCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}

/* Responsivo */
@media (max-width: 768px) {
  .heroContent {
    flex-direction: column;
    align-items: center;
  }
  .heroText,
  .heroImage {
    align-items: center;
    text-align: center;
  }
  .heroText h1 {
    text-align: center;
  }
  .heroText p {
    font-size: 1rem;
  }
  .socialLinks {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 420px) {
  .hero img {
    max-width: 300px;
  }
}
