.card {
  background: var(--color-gray-750);
  border: 1px solid var(--color-gray-700);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.card:hover {
  background: var(--color-gray-700);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.icon {
  margin-bottom: 0.5rem;
}
